.NavList
{
    margin: 0%;
    padding: 0%;
    width: 100%;
    overflow: hidden;
    background: var(--FundamentalPrimary);
    list-style-type: none;
}

.NavElement
{
    float: left;
    display: block;
    padding: 20px;
    color: var(--TextPrimaryColor);
    font-size: 1.2em;
}

.NavElement:hover
{
    transition-duration: 0.2s;
    float: left;
    display: block;
    padding: 20px;
    color: var(--TextPrimaryColor);
    background: var(--FundamentalSeconary);
    font-size: 1.2em;
    cursor: pointer;
}

.NavLogButton
{
    float: right;
    display: block;
    padding: 20px;
    padding-left: 0px;
    padding-right: 4px;
    color: var(--TextPrimaryColor);
    font-size: 1.2em;
}

.NavLogButton:hover
{
    transition-duration: 0.2s;
    float: right;
    display: block;
    padding: 20px;
    padding-left: 0px;
    padding-right: 4px;
    background-color: var(--FundamentalSeconary);
    cursor: pointer;
    color: var(--TextPrimaryColor);
    font-size: 1.2em;
}

.CurrentUserPFP
{
    border: var(--FundamentalSeconary) 3px solid;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0%;
    border: green 2px solid;
}

.CurrentUserName
{
    color: var(--TextPrimaryColor);
    padding-top: 14px;
    padding-left: 1%;
    margin: 0.5%;
    float:right;
    border: blue 2px solid;
}

.CurrentUserContainer
{
    border: var(--FirstOptionInternal) 5px solid;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    display: flex;
    justify-content:right;
    margin-right:auto;
}