.TabMain
{
    margin: auto;
    overflow: auto;
    width: fit-content;
}

.QuestionsContainers
{
    background: var(--FundamentalPrimary);
    border-color: var(--FundamentalPrimary);
    border-width: 5px;
    border-style: solid;
    padding: 0%;
    margin: 0%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.QuestionsContainers h2 {
    color: white
}

.TabButton
{
    margin: 0%;
    padding-right: 10px;
    padding-left: 10px;
    transition-duration: 0.1s;
    background-color: var(--FundamentalPrimary);
    color: var(--TextPrimaryColor);
    border-color: var(--FundamentalSeconary);
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    font-family: 'Ubuntu';
    font-size: 1em;
    cursor: pointer;
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}

.TabButtonSelected
{
    margin: 0%;
    padding-right: 10px;
    padding-left: 10px;
    transition-duration: 0.1s;
    background-color: var(--FundamentalPrimary);
    color: var(--SelectedOptionColor);
    border-color: var(--FundamentalSeconary);
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    font-family: 'Ubuntu';
    font-size: 1em;
    cursor: pointer;
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}

.TabContainer
{
    align-items: center;
    text-align: center;
}