.QuestionCard
{
    padding-top: 7%;
    display: flex;
    border: gray 1px solid;
    border-right: none;
    border-left: none;
    margin-top: 5%;
    margin-bottom: 5%;
}

.AskerData
{
    resize: vertical;
    width: 40%;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    inline-size: 300px;
    border-right: var(--FundamentalSeconary) solid 2px;
}

.QuestionData
{
    resize: vertical;
    padding-top: 2.5%;
    padding-right: 5px;
    padding-left: 5px;
    align-items: center;
    text-align: center;
    width: 60%;
    max-width: 60%;
    inline-size: 300px;
    border-left: var(--FundamentalSeconary) solid 2px;
}

.QuestionCard h3{color: var(--TextPrimaryColor);  word-wrap:break-word; white-space: normal; overflow-wrap: break-word;}

.question-asker-pfp
{
    border: var(--FundamentalSeconary) 3px solid;
    width: 75px;
    height: 75px;
    border-radius: 100%;
}

.QuestionViewButton
{
    display: inline-block;
    align-items: center;
    text-align: center;
    transition-duration: 0.4s;
    background-color: var(--FundamentalSeconary);
    color: var(--TextPrimaryColor);
    border-color: var(--FundamentalSeconary);
    border-radius: 20px;
    font-family: 'Menlo';
    font-size: 1em;
    padding: 2% 15%;
    cursor: pointer;
}