:root
{
  --BackgroundColor: rgb(30,30,30);;
  --FundamentalPrimary: #a31645;
  --FundamentalSeconary: #C21858;
  --TextPrimaryColor: #FFFFFF;

  --FirstOptionExternal: #810725;
  --FirstOptionInternal: #9F0E31;
  
  --SecondOptionExternal: #650006;
  --SecondOptionInternal: #820000;
}

.MainTitle
{
  text-align: center;
  font-family: 'Ubuntu';
  font-size: 3em;
  color: var(--TextPrimaryColor);
}